:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  min-height: 100vh;
  background: #1a2238;
  display: grid;
  grid-template-rows: auto auto auto 50px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header" "summary summary" "aside main" "footer footer";
}
.grid-container header {
  grid-area: header;
}
.grid-container section {
  grid-area: summary;
}
.grid-container aside {
  grid-area: aside;
}
.grid-container main {
  grid-area: main;
}
.grid-container footer {
  grid-area: footer;
}

.color-white {
  color: white;
}
.color-primary {
  color: #2827cc;
}
.color-secondary {
  color: #27cc28;
}
.color-dark {
  color: #012060;
}
.color-blue-purple {
  color: #9daaf2;
}
.color-fire {
  color: #cc2827;
}
.color-hint {
  color: #999;
}
.color-pumpkin {
  color: #ff6a3d;
}
.color-jasmine {
  color: #f4db7d;
}

.size-2 {
  font-size: 2rem;
}
.size-3 {
  font-size: 3rem;
}
.size-4 {
  font-size: 4rem;
}
.size-5 {
  font-size: 5rem;
}

.background-primary {
  background: #2827cc;
}
.background-secondary {
  background: #27cc28;
}

header {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #ff9777, #ff6a3d);
  display: grid;
  place-items: center;
  grid-template-columns: 4fr auto 1fr auto 4fr;
  grid-template-areas: ". photo . title .";
}
header .picture {
  grid-area: photo;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .picture img {
  width: 90%;
}
header .title {
  grid-area: title;
}
header .title h1 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 12rem;
  font-weight: 900;
  line-height: 11rem;
  text-align: center;
  margin: auto;
}
header .title h2 {
  color: #1a2238;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

aside {
  border-right: 1px solid #999;
  padding: 0 5rem;
}
aside .aside-block {
  margin-bottom: 3rem;
  padding: 1rem;
}
aside .aside-block .aside-block-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: start;
  align-items: center;
}
aside .aside-block .aside-block-header h3 {
  padding: auto;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}
aside .aside-block .aside-block-container {
  padding: 2rem 4rem;
}
aside .aside-block .aside-block-container .line-container {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5rem;
  align-items: center;
}
aside .aside-block .contact .line-container {
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
aside .aside-block .contact .line-container:hover {
  background: #f4db7d;
}
aside .aside-block .contact .line-container:hover i {
  color: #1a2238;
  transform: scale(1.2);
  transition: all 0.2s;
}
aside .aside-block .contact .line-container:hover p {
  color: #1a2238;
  transform: scale(1.2);
}
aside .aside-block .contact .line-container p {
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
aside .aside-block .languages {
  padding-left: 1rem;
}
aside .aside-block .languages .line-container {
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
aside .aside-block .languages .line-container:hover {
  background: #f4db7d;
}
aside .aside-block .languages .line-container:hover p {
  color: #1a2238;
  transform: scale(1.2);
}
aside .aside-block .languages .line-container:hover .star-container .color-pumpkin {
  color: #9daaf2;
  transform: scale(1.2);
  transition: all 0.2s;
}
aside .aside-block .languages .line-container p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #9daaf2;
}
aside .aside-block .languages .line-container .star-container {
  padding-left: 2rem;
  display: flex;
  justify-content: star;
  align-items: center;
}
aside .aside-block .languages .line-container .star-container i {
  margin: 0 1rem;
}
aside .aside-block .skills .line-container {
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
aside .aside-block .skills .line-container:hover {
  background: #f4db7d;
}
aside .aside-block .skills .line-container:hover i {
  color: #ff6a3d;
  transform: scale(1.2);
  transition: all 0.2s;
}
aside .aside-block .skills .line-container:hover p {
  color: #1a2238;
  transform: scale(1.2);
}
aside .aside-block .skills .line-container p {
  margin: 1rem;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
aside .aside-block .interests {
  display: flex;
  cursor: pointer;
}
aside .aside-block .interests i {
  margin: 0 2rem;
}
aside .aside-block .interests i:hover {
  color: #9daaf2;
  transform: scale(1.5);
  transition: all 0.2s;
}

section.summary {
  padding: 10rem 20rem;
}
section.summary h1 {
  margin: 1rem 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  color: #ff6a3d;
}
section.summary p {
  margin: 0 2rem;
  font-size: 2rem;
  color: white;
}
section.summary p strong {
  color: #f4db7d;
}
section.summary p span {
  font-style: italic;
}

main {
  padding: 0 10rem;
}
main section {
  margin-bottom: 8rem;
}
main section h1 {
  margin: 1rem 0;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  color: #ff6a3d;
}
main section article {
  margin: 0 2rem;
}
main section article h2 {
  margin: 1rem 0;
  font-family: "Assistant", sans-serif;
  font-size: 3rem;
  color: #9daaf2;
}
main section article .skills-block {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
main section article .skills-block p {
  margin: 0 2rem;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}
main section article .skills-block .star-container {
  padding-left: 2rem;
  display: flex;
  justify-content: star;
  align-items: center;
}
main section article .skills-block .star-container i {
  margin: 0 1rem;
}
main section article .training-block {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
main section article .training-block p {
  margin: 0 2rem;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}
main section article .experience-block {
  margin: 1rem 2rem;
}
main section article .experience-block h3 {
  margin: 0.5rem 0;
  font-family: "Assistant", sans-serif;
  font-size: 2rem;
  color: #f4db7d;
}
main section article .block {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
main section article .block p {
  margin: 0 2rem;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}

footer {
  background: #1a2238;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
