$primary: #2827cc;
$light: #4b4adc;
$dark: #012060;
$background: #1a2238;

$white: white;
$blue-purple: #9daaf2;
$pumpkin: #ff6a3d;
$pumpkin-light: #ff9777;
$jasmine: #f4db7d;
$secondary: #27cc28;
$fire-red: #cc2827;
$hint: #999;
$hint-light: #ddd;
