@use "../utils";

footer {
  background: utils.$background;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
